.title{
    padding-top: 5vh;
    text-align: center;
}

/* .box{
    margin: auto;
    border: 1px solid gray;
    width: 20vw;
    height: 700px;
    text-align: center;
} */

/* .nume{
    margin-left: 3vw;
    margin-top: 3vh;
    margin-right: 1vh;
}

.prenume{
    margin-left: 3vw;
    margin-top: 5vh;
    margin-right: 1vh;
}

.bottom{
    margin-left: 3vw;
    margin-top: 5vh;
    margin-right: 1vh;
    margin-bottom: 2vh;
}
*/
.submitRegistration{
    margin-top: 3vh;
} 

.linkToLogin{
    display: inline-block;
    margin-top: 5vh;
    margin-left: 1vw;
    color: rgb(140, 35, 158);
}